version: '3.7'

services:

#  base:
#    build: .
#    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base:${VERSION}

######   JAVA 21 alpine  #######

  base-21-alpine:
    build:
      context: .
      dockerfile: Dockerfile-21-alpine
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-21-alpine:${VERSION}

  base-21-alpine-with-font-config:
    build:
      context: .
      dockerfile: Dockerfile-21-alpine-with-font-config
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-21-alpine-font-config:${VERSION}

  base-21-alpine-with-docker:
    build:
      context: .
      dockerfile: Dockerfile-21-alpine-with-docker
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-21-alpine-with-docker:${VERSION}

  base-imagemagick-21-alpine:
    build:
      context: .
      dockerfile: Dockerfile-21-alpine-with-image-magick
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-21-alpine-imagemagick:${VERSION}

  base-libreoffice-21-alpine:
    build:
      context: .
      dockerfile: Dockerfile-21-alpine-with-libreoffice
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-21-alpine-libreoffice:${VERSION}

  base-with-build-tools-21-alpine:
    build:
      context: .
      dockerfile: Dockerfile-21-alpine-with-build-tools
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-with-build-tools-21-alpine:${VERSION}

  base-with-build-tools-and-docker-21-alpine:
    build:
      context: .
      dockerfile: Dockerfile-21-alpine-with-build-tools-and-docker
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-with-build-tools-and-docker-21-alpine:${VERSION}

######   JAVA 25 alpine  #######

  base-25-alpine:
    build:
      context: .
      dockerfile: Dockerfile-25-alpine
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-25-alpine:${VERSION}

  base-25-alpine-with-font-config:
    build:
      context: .
      dockerfile: Dockerfile-25-alpine-with-font-config
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-25-alpine-font-config:${VERSION}

  base-25-alpine-with-docker:
    build:
      context: .
      dockerfile: Dockerfile-25-alpine-with-docker
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-25-alpine-with-docker:${VERSION}

  base-imagemagick-25-alpine:
    build:
      context: .
      dockerfile: Dockerfile-25-alpine-with-image-magick
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-25-alpine-imagemagick:${VERSION}

  base-libreoffice-25-alpine:
    build:
      context: .
      dockerfile: Dockerfile-25-alpine-with-libreoffice
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-25-alpine-libreoffice:${VERSION}

  base-with-build-tools-25-alpine:
    build:
      context: .
      dockerfile: Dockerfile-25-alpine-with-build-tools
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-with-build-tools-25-alpine:${VERSION}

  base-with-build-tools-and-docker-25-alpine:
    build:
      context: .
      dockerfile: Dockerfile-25-alpine-with-build-tools-and-docker
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-with-build-tools-and-docker-25-alpine:${VERSION}

  ######   JAVA 21 with ubuntu  #######

  base-21-jammy:
    build:
      context: .
      dockerfile: Dockerfile-21-jammy
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-21-jammy:${VERSION}

  base-21-jammy-with-imagemagick:
    build:
      context: .
      dockerfile: Dockerfile-21-jammy
    image: ${DOCKER_REGISTRY:-localhost:5000}/codingmatters/poom-service-base-21-jammy:${VERSION}
